<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp620230724085219.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d5ebc182-6de2-4384-95fb-6b5296a3fb89/resourcegroups/projectpaid/providers/Microsoft.Web/sites/FunctionApp620230724085219</ResourceId>
    <UserName>$FunctionApp620230724085219</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp620230724085219.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>