<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp620230713084104.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d2b3ac45-3f1a-4da3-8f35-f357a55f2ed9/resourcegroups/Project/providers/Microsoft.Web/sites/FunctionApp620230713084104</ResourceId>
    <UserName>$FunctionApp620230713084104</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp620230713084104.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>